{{ if eq .chezmoi.os "darwin" }}
# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config
{{ end }}

Host antioche-ha.local
  HostName antioche-ha.local
  User hassio
  ForwardAgent yes

Host *
  AddKeysToAgent yes
  # UseKeychain yes

{{ if eq .chezmoi.os "darwin" }}
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ else }}
Host *
  IdentityAgent "~/.config/1Password/ssh/agent.sock"
{{ end }}
