themes {
  kanagawa {
    fg "#DCD7BA"
    // bg "#1F1F28"
    bg "#4b4b4b"
    black "#090617"
    white "#dcd6ba"
    red "#e82424"
    green "#98bb6c"
    yellow "#e6c384"
    blue "#7fb4ca"
    magenta "#938aa9"
    cyan "#7aa89f"
    orange "#FFA066"
  }
}
